.daobutton {
  font-size: 30px;
  line-height: 50px;
  color: balck;
  font-weight: 400;
  font-family: "Comic Runes";
  cursor: pointer;
  background: url("../img/buttonbg.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 60px;
  width: 40%;

  @media only screen and (max-width: 1700px) {
    font-size: 25px;
  }

  @media only screen and (max-width: 1050px) {
    width: 50%;
    font-size: 20px;
    height: 50px;
    line-height: 45px;
  }

  @media only screen and (max-width: 800px) {
    height: 40px;
    line-height: 40px;
    width: 40%;
    font-size: 15px;
  }
  @media only screen and (max-width: 600px) {
    height: 35px;
    line-height: 30px;
    width: 50%;
    font-size: 15px;
  }
}

.claimtokenwinodw {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  background: rgba(36, 36, 36, 0.4);
  backdrop-filter: blur(31px);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 600px) {
    align-items: flex-start;
    top: 80px;
  }

  .token-container {
    background: #3c3c3b;
    position: relative;
    opacity: 0.8;
    // backdrop-filter: blur(20px);
    border-radius: 20px;
    width: 80%;
    max-height: 90%;
    height: auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;

    @media only screen and (max-width: 600px) {
      width: 90%;
      margin-top: 5vw;
    }

    .close-icon {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 52px;
      height: 52px;
      cursor: pointer;

      @media only screen and (max-width: 1300px) {
        width: 3vw;
        height: 3vw;
      }

      @media only screen and (max-width: 600px) {
        width: 6vw;
        height: 6vw;
      }
    }

    .title {
      margin-bottom: 30px;
      font-size: 60px;
      color: white;
      font-weight: 400;
      font-family: "Comic Runes";

      @media only screen and (max-width: 1300px) {
        font-size: 4vw;
      }

      @media only screen and (max-width: 600px) {
        font-size: 9vw;
      }
    }

    .toggle-token {
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 373px;
      height: 373px;
      position: relative;

      @media only screen and (max-width: 1300px) {
        width: 24vw;
        height: 24vw;
      }

      @media only screen and (max-width: 600px) {
        width: 50vw;
        height: 50vw;
      }

      .token-img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      .left-arrow {
        margin-left: -158px;
        width: 290px;
        height: 299px;
        cursor: pointer;
        z-index: 1;

        @media only screen and (max-width: 1300px) {
          margin-left: -8vw;
          width: 15vw;
          height: 15vw;
        }

        @media only screen and (max-width: 600px) {
          margin-left: -16vw;
          width: 30vw;
          height: 30vw;
        }
      }

      .right-arrow {
        margin-right: -158px;
        width: 290px;
        height: 299px;
        cursor: pointer;
        z-index: 1;

        @media only screen and (max-width: 1300px) {
          margin-right: -8vw;
          width: 15vw;
          height: 15vw;
        }

        @media only screen and (max-width: 600px) {
          margin-right: -16vw;
          width: 30vw;
          height: 30vw;
        }
      }
    }

    .user-name {
      margin-top: 0.5vw;
      margin-bottom: 0.5vw;
      font-size: 45px;
      color: white;
      font-weight: 400;
      font-family: "Comic Runes";

      @media only screen and (max-width: 1300px) {
        font-size: 3vw;
      }

      @media only screen and (max-width: 600px) {
        margin-top: 3vw;
        margin-bottom: 1vw;
        font-size: 9vw;
      }
    }

    .edit {
      font-weight: 400;
      font-size: 15px;
      color: #ffffff;
      opacity: 0.6;
      cursor: pointer;

      @media only screen and (max-width: 1300px) {
        font-size: 10px;
      }
    }

    .claim-token {
      width: 20vw;
      // cursor: pointer;

      @media only screen and (max-width: 600px) {
        margin-top: 5vw;
        margin-bottom: 25vw;
        width: 70vw;
      }
    }

    .whole-boss {
      position: absolute;
      right: -30px;
      bottom: -60px;
      width: 286px;
      height: 578px;

      @media only screen and (max-width: 1300px) {
        width: 15vw;
        height: 31vw;
      }

      @media only screen and (max-width: 600px) {
        width: 30vw;
        height: 62vw;
        left: 30vw;
        bottom: -30vw;
      }
    }
  }
}

.progress-pending {
  width: 45%;
  height: 35px;
  border: 1px solid #000000;
  border-radius: 5px;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  padding-left: 3px;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 600px) {
    width: 80%;
    margin: auto;
    height: 30px;
  }

  .rectangle {
    background: #393939;
    border-radius: 3px;
    height: 100%;
    font-family: "Comic Runes";
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    line-height: 30px;

    @media screen and (max-width: 600px) {
      line-height: 25px;
    }
  }

  .number {
    font-family: "Comic Runes";
    font-weight: 400;
    font-size: 18px;
  }
}

.closedproposalwindow {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  background: rgba(36, 36, 36, 0.4);
  backdrop-filter: blur(31px);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 600px) {
    position: static;
    align-items: flex-start;
    top: 80px;
    height: auto;
    padding-bottom: 20px;
    min-width: unset;
    width: auto;
  }

  .card-container {
    background: rgba(60, 60, 59, 0.9);
    position: relative;
    opacity: 0.8;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    width: 50%;
    max-height: 90%;
    height: auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;

    @media only screen and (max-width: 600px) {
      width: 90%;
      margin-top: 5vw;
    }

    .close-icon {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 52px;
      height: 52px;
      cursor: pointer;

      @media only screen and (max-width: 1300px) {
        width: 3vw;
        height: 3vw;
      }

      @media only screen and (max-width: 600px) {
        width: 6vw;
        height: 6vw;
      }
    }

    .title {
      margin-bottom: 30px;
      font-size: 35px;
      color: white;
      font-weight: 400;
      font-family: "Comic Runes";

      @media only screen and (max-width: 1300px) {
        font-size: 4vw;
      }

      @media only screen and (max-width: 600px) {
        font-size: 9vw;
      }
    }

    .text {
      margin-inline: auto;
      width: 70%;
      color: #ffffff;
      opacity: 0.6;
      font-weight: 400;
      font-size: 15px;
      text-align: center;
      margin-bottom: 30px;

      @media only screen and (max-width: 600px) {
        width: 80%;
      }
    }

    .card-box {
      width: 90%;
      background: url("../img//card-bg.png");
      background-size: 100% 100%;
      padding: 40px 0vw 70px;
      margin-inline: auto;
      margin-top: -10px;

      @media screen and (max-width: 1200px) {
        margin-top: -25px;
      }

      @media screen and (max-width: 600px) {
        padding-top: 60px;
        width: 90%;
      }

      .card-title {
        color: #000000;
        font-family: "Comic Runes";
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 15px;

        @media screen and (max-width: 600px) {
          font-size: 25px;
        }
      }

      .card-content {
        margin-inline: auto;
        width: 85%;

        .line {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 7px;

          .progress-text {
            font-family: "Comic Runes";
            font-weight: 400;
            color: #000000;
            font-size: 20px;

            @media screen and (max-width: 600px) {
              display: none;
            }
          }
        }
      }

      .first {
        margin-top: 20px;
      }

      .progress-text-mobile {
        font-family: "Comic Runes";
        font-weight: 400;
        display: none;

        @media screen and (max-width: 600px) {
          font-size: 20px;
          line-height: 30px;
          margin-left: 5vw;
          display: block;
          text-align: left;
        }
      }
    }

    .link-box {
      width: 80%;
      margin-inline: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      .link-item {
        width: 30%;

        @media only screen and (max-width: 600px) {
          width: 60%;
          margin-inline: auto;
        }

        .link-img {
          width: 100%;
        }
      }
    }
  }
}

.progress-voting {
  margin-top: 10px;
  width: 70%;
  height: 35px;
  border: 1px solid #000000;
  border-radius: 5px;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  padding-left: 3px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 600px) {
    width: 80%;
    height: 30px;
  }

  .rectangle {
    background: #393939;
    border-radius: 3px;
    height: 100%;
    font-family: "Comic Runes";
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    line-height: 30px;

    @media screen and (max-width: 600px) {
      line-height: 25px;
    }
  }

  .number {
    font-family: "Comic Runes";
    font-weight: 400;
    font-size: 18px;
  }
}
