.vote {
  height: auto;
  position: relative;

  .content {
    display: flex;
    margin-top: -20px;
    padding: 0px 10px;
    text-align: center;

    @media screen and (max-width: 800px) {
      flex-direction: column;
      margin-top: -10px;
    }

    .left-box {
      width: 50%;
      height: auto;
      text-align: center;

      @media screen and (max-width: 800px) {
        width: 100%;
      }


    }

    .right-box {
      width: 50%;
      flex-direction: column;
      padding-top: calc(350px - 15vw);
      display: flex;
      align-items: flex-end;
      position: relative;

      @media only screen and (max-width: 1300px) {
        padding-top: calc(370px - 10vw);
      }

      @media only screen and (max-width: 800px) {
        padding-top: 0px;
        margin-top: -200px;
        width: 70%;
        margin: auto;
      }

      .bird {
        width: 15%;

        @media only screen and (max-width: 800px) {
          display: none;
        }
      }

      .berserkers {
        width: 100%;
      }
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      @media only screen and (max-width: 600px) {
        text-align: center;
      }
    }

    @media only screen and (max-width: 600px) {
      position: static;
      flex-direction: column;
      align-items: center;
    }

    .backbutton {
      margin-left: 20px;
      cursor: pointer;

      @media only screen and (max-width: 800px) {
        width: 100px;
      }

      @media only screen and (max-width: 600px) {
        width: 150px;
        margin: auto;
      }
    }

    .link-box {
      align-items: center;
      display: flex;
      margin-right: 20px;
      gap: 15px;

      @media only screen and (max-width: 600px) {
        margin-right: 0px;
        gap: 10px;
      }

      .link-icon {
        width: 70px;
        cursor: pointer;

        @media only screen and (max-width: 800px) {
          width: 50px;
        }
      }
    }

    .eargle {
      margin-top: -100px;

      @media only screen and (max-width: 600px) {
        display: none;
      }
    }
  }
}
